:root {
  --primary-text-color: #b6b6b6;
  --primary-title-text-color: #ffffff;
  --secondary-text-color: #0f0f0f;
  --bsg-color: #050505;
  --water-color: #b6c3ff;
  --layout-color: #0f0f0f;
  --colories-graf-color: #45ffbc;
  --carbonohidrates-graf-color: #ffc4f7;
  --protein-graf-color: #fff3b7;
  --primary-btn-color: #e3ffa8;
  --dashboard-bcg-color: #292928;
  --error-validate-input: #e74a3b;
}
